* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: fixed; 
  overflow-y: scroll;
  width: 100%;
}

section {
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

section div h1 {
  font-size: 100px;
  color: crimson;
  margin-bottom: 20px;
}

.container {
  height: 100px;
}

section div button {
  text-transform: uppercase;
}

section button {
  height: 50px;
  width: 120px;
  margin: 5px;
}

button a {
  text-decoration: none;
  color: black;
}

section button:hover {
  cursor: pointer;
}

main {
  display: none;
  width: 100vw;
  height: 100vh;
  background: url(../images/backgrounddetailed5.png);
  background-size: cover;
  cursor: crosshair;
}

main .score {
  font-size: 30px;
}

main p {
  display: block;
  font-size: 20px;
  position: absolute;
  z-index: 2;
  color: white;
}

#player {
  width: 51px;
  height: 48px;
  background: url(../images/AH-People12.png) -46px 0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50px;
  z-index: 1;
}

.bullet {
  width: 20px;
  height: 20px;
  background-color: greenyellow;
  border: 1px solid yellow;
  border-radius: 100%;
  top: 0;
  left: 0;
  position: absolute;
  transition: all 5000ms linear;
}

.zombie {
  width: 41px;
  height: 80px;
  background: url(../images/ZombieCA.png) 0 0;
  position: absolute;
  z-index: 1;
}

.loot-head {
  width: 25px;
  height: 22px;
  background: url(../images/head52.png);
  position: absolute;
}

.loot-left-shoulder {
  width: 22px;
  height: 30px;
  background: url(../images/left_showlder_12.png);
  position: absolute;
}

.loot-right-leg {
  width: 18px;
  height: 35px;
  background: url(../images/right_leg_down12.png);
  position: absolute;
}

.loot-nuke {
  width: 31px;
  height: 31px;
  background: url(../images/powerup.png);
  position: absolute;
  z-index: 1;
}

.nuked {
  width: 130px;
  height: 128px;
  position: absolute;
  background: url(../images/explosion-4.png) 0 0;
  z-index: 3;
  animation: play 6s steps(12);
}

@keyframes play {
  100% {
    background-position: -1536px;
  }
}

#end-screen {
  display: flex;
  align-items: center;
  justify-content: center;
}

#end-screen p {
  font-size: 100px;
  color: crimson;
  text-decoration: overline underline;
}

#instructions {
  display: block;
  height: 100vh;
  width: 100vw;
  background: none;
  background-color: black;
  cursor: default;
  font-size: 32px;
  color: crimson;
}

#instructions h3 {
  margin-bottom: 20px;
  text-decoration: underline;
}

#instructions button {
  margin-top: 20px;
  text-transform: uppercase;
  height: 50px;
  width: 120px;
}

#instructions p {
  color: crimson;
  position: relative;
  font-size: 32px;
}

#area-backdrop {
  display: none;
  background: url('./images/zombie_background.jpg');
  position: absolute;
  opacity: 0.6;
}